%card{
    background-color: #{$bg_primary};
    padding: 1.5rem 1rem;
    max-width:25rem ;
    display: flex;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 4px -3px #{$clr_mulberry};
    cursor: pointer;
    @media (max-width:#{$lg}) {
        flex-grow: 2;
        margin-bottom: 1rem;
        padding: 1rem 0.5rem;
       
    }
   
    & > span {
       margin-right: 1rem
    }
    & > div{
       padding-top: 0.3rem
   }
   .title{
       @extend %title;
       font-size: 1.2rem;
       text-transform: uppercase;
       margin-bottom: 0.7rem;
   }
   .paragraph{
      @extend %paragraph
   }
}