%navigation{
    list-style: none ;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    // background-color:#{$bg_primary} ;
    background-color:#00000069;
    border-radius: 2rem;
  
}

%navigation-link{
    cursor: pointer;
    padding: 1rem;
    &:hover{
         border-bottom: 1px solid #{$clr_meadow};
          border-radius: 1.5em ;
         -webkit-border-radius: 1.5em ;
         -moz-border-radius: 1.5em ;
         -ms-border-radius: 1.5em ;
         -o-border-radius: 1.5em ;
         -webkit-box-shadow: -9px 21px 90px -2px rgba(197,37,234,1);
         -moz-box-shadow: -9px 21px 90px -2px rgba(197,37,234,1);
         box-shadow: -9px 21px 90px -2px rgba(197,37,234,1);
         transition: all cubic-bezier(0.075, 0.82, 0.165, 1)  400ms;
         -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1)  400ms;
         -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1)  400ms;
         -ms-transition: all cubic-bezier(0.075, 0.82, 0.165, 1)  400ms;
         -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1)  400ms;
    }
}