 

%text{
    font-size: 1.5rem;
    color:#{$clr_text_dark};
}
%title{
     font-size: 3rem;
     line-height: 120%;
     font-weight: bold;
     @include gradientText; 
     @media (max-width:#{$md}) {
         font-size: 2.5rem;
     }
}

%subtitle{
     font-size: 2.2rem;
     @include strokeText(#{$clr_text_dark});
     @media (max-width:#{$md}) {
        font-size: 2rem;
    }
}
%paragraph{
     font-size: 1rem;
     color:#{$clr_text_dark};
}