 

%text{
    font-size: 1.5rem;
    color:#{$clr_text_light};
}
%title{
     font-size: 3rem;
     line-height: 120%;
     font-weight: bold;
     @include gradientText; 
     @media (max-width:#{$md}) {
         font-size: 2.5rem;
     }
     @media (max-width:1242px) {
           font-size: 2rem;
     
     }
}
%section-title{
     font-size: 2rem;
     letter-spacing: 1px;
     text-transform: uppercase;
}

%subtitle{
     font-size: 2.5rem;
     @include strokeText(#{$clr_text_light});
     @media (max-width:#{$md}) {
        font-size: 2rem;
    }
    @media (max-width:1242px) {
     font-size: 1.5rem;

}
}
%paragraph{
     font-size: 1rem;
     color:#{$clr_text_dark};
     line-height: 170%;
}