.expertise{
    @include containerize(100%,100vh);
    height: fit-content;
    // @extend %spacing-x;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: auto;
    background-color: #{$bg_secondary};
    -webkit-clip-path: polygon(99% 2%, 100% 88%, 0 100%, 0 10%); 
    clip-path: polygon(99% 2%, 100% 88%, 0 100%, 0 10%);
    @media (max-width:#{$md}) {
        -webkit-clip-path: polygon(100% 5%, 100% 92%, 0 100%, 0 10%); 
        clip-path: polygon(100% 5%, 100% 92%, 0 100%, 0 10%);
    }
    z-index: -2; 


   

    &-title__stroked{
        padding-top: 2rem ;
        padding-bottom: 2rem ;
        @extend %spacing-x;
        @include strokeText(#{$clr_text_light});
        @extend %subtitle;
        @extend %section-title;
    }
    &-content{
        display: flex;
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
        // align-items: center;
        padding-top: 2rem;
        @extend %spacing-x;
       
        &-left{
            
            max-width: fit-content;
          
            // background: #000;
            .title{
                 @extend %title;
                 text-transform: capitalize;
                 margin-bottom: 1.5rem ;
            }
            .paragraph{
                 max-width: 85ch;
                 margin-bottom: 1.5rem ;
                 @extend %paragraph;
            }
            .btn{
                display: inline-block;
                @include button(#{$clr_btn_secondary});
                color:#{$clr_text_light}
                
            }
        }
        &-right{
            // max-width: flex-1;
            // max-width: 100rem ;
            // min-width: fit-content;
            // margin-left: 20rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @media (max-width:#{$md}) {
                 flex-direction: column;
                 margin-left: 0;
                 width: 100%;
            }
            // @media (min-width:#{$md}) and (max-width:1400px) {
            //     margin-left: 0rem;
            // }
            .cards{
                display: flex;
                // flex-wrap: wrap;
                padding: 2rem;
                @media (max-width:#{$xxl}) {
                    flex-wrap: wrap;
                }
                @media (max-width:600px) {
                    justify-content: center;
                    width: 100%;
                    padding:0.2rem ;
                }
                @media (max-width:#{$lg}) {
                    
                     .cards:nth-child(1){
                          background: #000;;
                     }
                    // flex-direction: column;
                     justify-content: center;
                     align-items: center;
                }
            }
            .cards-item{
                  background-color: #{$bg_primary};
                  padding: 1.5rem 1rem;
                  max-width:25rem ;
                  display: flex;
                  border-radius: 1rem;
                  margin-right: 1rem;
                  margin-bottom: 1rem;
                  box-shadow: 0px 2px 4px -3px #{$clr_mulberry};
                  cursor: pointer;
                  @media (max-width:#{$lg}) {
                      flex-grow: 2;
                      margin-bottom: 1rem;
                      padding: 1rem 0.5rem;
                     
                  }
                 
                  & > span {
                     margin-right: 1rem
                  }
                  & > div{
                     padding-top: 0.3rem
                 }
                 .title{
                     @extend %title;
                     font-size: 1.2rem;
                     text-transform: uppercase;
                     margin-bottom: 0.7rem;
                 }
                 .paragraph{
                    @extend %paragraph
                 }
            }
        }
    }


}