
.header{
    position: relative;
    @include containerize(100%,100vh);
    // background: radial-gradient();
    height: fit-content;
    background: radial-gradient(circle, rgb(11, 10, 58) 0%, rgba(2,0,36,1) 100%);
    font-family: #{$font_family_monsterat};
    .logo-button{
         display: flex;
         height: #{$navHeight};
         flex-direction: row;
         width: 90%;
         justify-content: space-between;
         align-items: center;
         padding-top: 1rem;
         margin: auto;
         @media (max-width:#{$md}) {
            font-size: 14px;
            width: 95%;
         }
         a{  
             display: inline-block;
             text-decoration: none;
             color: #{$clr-meadow};
             @extend %button;
             &:hover{
                @extend %button-hover;
             }
             @media (max-width:#{$md}) {
                padding: 0.8rem 1.5rem;
             }
         }
         .logo{
            @extend %text;
            font-size: 2rem;
            @media (max-width:#{$md}) {
                font-size: 1.8rem;
            }
            
            span{
                color: #{$clr_mulberry};
            }

         }
    }
    .navbar{
         position: fixed;
         z-index: 100;
         right: 5%;
         top: 45%;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         &-container{
             @extend %navigation;
             li{
                 @extend %navigation-link
             }
        }
    }
    .hero{
        display: flex;
        width: 80%;
        height:95vh;
        margin: auto;
        justify-content: center;
        padding-top: 7rem;
        @media (max-width:#{$xs}) {
            padding-top: 2rem;
            font-size: 14px;
            width: 100%;
        }
        @media (max-width: #{$md}) {
            flex-direction: column; 
            justify-content: flex-start;
            // align-items: flex-end;
            font-size: 12px;
            height: fit-content;
            padding-top: 3rem;
            width: 90%;
            &-right{
                max-width: 450px;
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                justify-content: flex-start;
                img{
                    // background-color: black;
                    width: 100%;
                    margin: auto;
                }
            }
            &-left{
                max-width: 700px;
             
            }
        }
        @media (min-width:$md) {
            padding-top: 5rem;
             width: 90%;
             &-right{
                // background: white;
                 padding-top: 2rem;
                 max-width: 600px;
                 min-width: 450px;
                 
                 img{
                    width: 100%;
                 }
             }
             &-left{
               
                padding-top: 2.5rem;
                max-width: 500px;
               
                
                // background: #000;   
           }
        } 
        @media (min-width:#{$lg}) {
            width: 80%;
             &-right{
                // background: white;
                 max-width: 800px;
                 img{
                    width: 100%;
                 }
             }
             &-left{
                max-width: 800px;
               
                
                // background: #000;   
           }
            
        }
        &-left{
            max-width: flex-1;   
            // background: #000; 
           
        }
        &-right{
            display: flex;
            max-width:flex-1 ;
       
        } 
        &-text{
            position: relative;
            padding-top: 10px;
            margin-bottom: 0.5rem;
            @extend %text;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1.4rem;
                height: 3px;
                background: linear-gradient(90deg ,#{$clr_mulberry} , #{$clr_meadow}
                );
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
    }
        }  
        &-title{
            padding-bottom: 1rem;
            padding-top: 1rem;
            @extend %title;
        }
        &-subtitle{
            @extend %subtitle;
            letter-spacing: 5px;
        }
        &-paragraph{
            padding-bottom: 1rem;
            // padding-top: 1rem;
            max-width: 75ch;
            @extend %paragraph;
        }
        &-contact{
            display: flex;
            align-items: center;
            padding-top: 1rem;
            & > span{
               margin-right: 2rem;
              
            }
            &_me a{
                 @extend %button;
                 background: #{$clr_mulberry};
                 cursor: pointer;
                 border: none;
                 color: white;
                 transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
                //todo:animate button when mouse over
            }
        }
        &-socials{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            li:not(:first-child){
                margin-left: 1rem;
            }
            li{
                padding-top: 0.5rem;
            }
        }
     
    }
       
}
    


