// .main-content{
//      // background: radial-gradient(circle, rgb(11, 10, 58) 0%, rgba(2,0,36,1) 100%); 
// }

.overlay{
      position: relative;
      overflow: hidden;
      background: radial-gradient(circle, rgb(11, 10, 58) 50%, rgba(2,0,36,1) 100%); 
}
%spacing-x{
     padding-left: 12%;
     padding-right: 12%;
     @media (max-width:#{$md}) {
          padding-left: 6%;
          padding-right: 6%;
     }
     @media (max-width:#{$xs}) {
          padding-left: 4%;
          padding-right: 4%;
     }
}
