.portfolio{
    @include containerize(100wh,100vh);
    height: fit-content;
    @extend %spacing-x;
    padding-top: 15rem;
    padding-bottom: 15rem;
    margin: auto;
   
    &-title__stroked{
        @include strokeText(#{$clr_text_light});
        padding-top: 1rem ;
        padding-bottom: 1rem ;
        @extend %subtitle;
        @extend %section-title;
    }
    &-subtitle{
        @extend %text;
        font-weight: bold;
        color:#{$clr_text_light};
        margin-bottom: 1rem;
    }
    // &-graphic{
    //     padding-bottom: 1rem;
    // }
    .project {
         width: 100%;
         justify-content: flex-start;
         &-filter{
             display: flex;
             justify-content: center;
             margin-top: 1rem;
         }
         .filter-content{
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              margin: 0%;
              padding: 0%;
         }
         .filter-item{
              padding: 0.5rem 1rem;
              background-color: #{$bg_primary};
              margin: 0.3rem 0.5rem;
              font-size: 1rem;
              border-radius: 0.5rem;
              color: #{$clr_text_light};
              cursor: pointer;
              transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
            
              @media (max-width:#{$xs}) {
                   font-size: 14px;
              }
             
         }
         .filter-item:hover:not(.filter-item-active){
             background-color: #{$clr_meadow};
         }
         .filter-item-active{
            background-color: #{$clr_meadow};
         }
        
         &-content{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            flex-direction: row;
            margin-top: 2rem;
            @media (max-width:1886px) {
                justify-content: center;
            }
            @media (min-width:#{$xxl}) {
               
                justify-content: center;
                
             }
            
            
         }
         &-item{
             @extend %project;
            
         }
  
    }

}